.footer__author {
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  font-weight: normal;
  color: white;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  text-decoration: none;
}

.footer__author:hover {
  opacity: 0.5;
}


