@keyframes rotation {
  0 {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  color: black;
  position: relative;
  padding-left: 64px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  animation: rotation 20s linear infinite;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 5;
}

.header__title {
  margin: 0;
  width: 630px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 5;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 5;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.description {
  margin: 100px auto 0 auto;
  justify-content: center;
  display: flex;
}

/* two-columns */
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  align-self: flex-start;
}

.two-columns__main-text {
  margin: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  font-family: "Inter", "Arial", sans-serif;
}

.two-columns__wrapper {
  width: 175px;
}

.two-columns__paragraph_margin {
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.section-title {
  margin: 100px auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: bold;
  width: 60%;
  text-align: center;
}

.section-subtitle {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
}

.cards__description {
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.cards__title {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border-radius: 50%;
}

.cards__item {
  margin-right: 100px;
  width: 240px;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto 100px;
}

.video__iframes {
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: -60px;
}

.video__iframe:nth-of-type(1) {
  margin-right: 20px;
}

.two-columns {
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.two-columns__brief {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  color: #2f80ed;
  align-self: flex-start;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__main-text {
  margin: 0;
  width: 80%;
  min-width: 784px;
}

.techniques {
  margin: 0 auto;
  width: 80%;
}

.video__iframes {
  margin-bottom: -60px;
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.video__iframe:nth-of-type(1) {
  margin-right: 20px;
}

.oakley {
  margin: 0 auto;
  background-color: #f2f2f2;
  padding-top: 160px;
  padding-bottom: 100px;
}

.feynman {
  display: flex;
  background-color: #f2f2f2;
  flex-direction: column;
  position: relative;
  height: 890px;
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-image: url(../images/_background-image/feynman.png);
}

.feynman__title {
  font-family: "Inter", "Arial", sans-serif;
  margin: 100px auto 0;
  text-align: center;
  font-weight: bold;
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
}

.feynman__subtitle {
  margin-top: 70px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
}

.feynman__link {
  position: absolute;
  color: #2f80ed;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 51px;
  font-size: 36px;
  transition: opacity 1s ease;
  font-weight: normal;
  text-decoration: none;
  right: 48px;
  top: 50%;
  transition: opacity 1s ease;
}

.khan {
  background-color: #f2f2f2;
  padding-top: 100px;
  box-sizing: border-box;
}

.khan__container {
  margin: 0 auto;
  width: 80%;
}

.khan__author {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  line-height: 42px;
  font-size: 30px;
}

.khan__title {
  margin: 0;
  font-weight: bold;
  line-height: 1.15;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 60px;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 36px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
}

.khan__quote-author {
  margin: 0;
  font-weight: bold;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 1.15;
  font-size: 24px;
}

.khan__quote-author-subline {
  margin: 10px 0 68px;
  line-height: 1.15;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  object-position: top;
  object-fit: cover;
  margin-right: 48px;
  width: 620px;
  height: 608px;
}

.khan__buy-link {
  transition: opacity 1s ease;
  font-weight: normal;
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  position: relative;
  z-index: 3;
}

.section-subtitle_theme_dark {
  position: relative;
  color: white;
  z-index: 3;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 3;
}

.table__heading {
  margin: 0;
  font-weight: bold;
  line-height: 1.15;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
}

.table__text {
  margin: 20px 0 0;
  font-size: 18px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  line-height: 23px;
}

.table__text_theme_dark {
  margin: 20px 0 0;
  line-height: 1.2;
  font-weight: normal;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
}

.kaufman__triangle-pic {
  position: absolute;
  animation: rotation 20s linear infinite;
  right: -210px;
  top: 0;
  z-index: 1;
}

.resources__logo_zone {
  margin: 80px auto 217px;
  justify-content: center;
  width: 1100px;
  display: flex;
}

.resources__logo {
  margin: 0;
  width: 270px;
  height: 38px;
}

.footer {
  padding: 60px 0 40px 0;
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  display: flex;
}

.footer__columns {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  flex-direction: column;
  position: relative;
  display: flex;
  flex-basis: 711px;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
  display: flexbox;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__author {
  font-family: "Inter", "Arial", sans-serif;
  position: absolute;
  font-weight: normal;
  color: white;
  bottom: 0;
  left: 0;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 18px;
  font-size: 18px;
  font-family: "Inter", "Arial", sans-serif;
  color: white;
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__column-links {
  display: flex;
  margin: 0 0 16px;
  flex-direction: column;
  padding: 0;
}

.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-family: "Inter", "Arial", sans-serif;
  color: white;
  text-decoration: none;
  font-weight: normal;
  transition: opacity 1s ease;
}

.footer_list:not(:nth-of-type(3)) {
  margin-bottom: 10px;
}

.footer__column_content_social {
  flex-direction: column;
  display: flexbox;
}

.footer_list:not(:nth-of-type(3)) {
  margin-bottom: 10px;
}

.footer_list {
  color: white;
  list-style: none;
}

.footer___social-icon {
  width: 16px;
  height: 16px;
}
